{% extends "base.html" %} 


{% block content %}
<style>
.container {
	padding-bottom: 10px;
	padding-top: 10px;
}
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-dark"> O mnie </h3>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
<div class="row padding">
	<div class="col-lg-6">
		<h2>Cześć! Jestem Panda.</h2>
		<p>Zwykły facet cierpiący na nieustający głód wiedzy. Niestety na mojej drodze do zaspokojenia tego pragnienia nieustannie stoi dość męczący proces zwany "uczeniem się". Ciągle staram się szukać sposobów, dzięki którym mógłbym pracować nad sobą przy równoczesnym czerpaniu z tego radości. Staram się nauczyć po trochu wszystkiego, co mnie zainteresuje skupiając jednak na rzeczach, które na prawdę dają mi radość. Aktualnie oddaję się literaturze fantasy, yo-yowaniu, grom planszowym oraz domowemu wyrobowi alkoholi.</p>
	</div>
	<div class="col-lg-6">
		<img src="../../../media/images/avatar.png" class="img-fluid">
	</div>
</div>
</div>

{% endblock %}