{% extends 'base.html' %}


{% block content %}
<style>
label {
	padding-right: 5px;
}
.button {
	padding-bottom: 5px;
	padding-top: 5px;
}
.container {
	padding-top: 10px;
	padding-bottom: 10px;
}

</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                	{% if user.is_authenticated %}
                    <h3 class=" site-heading my-4 mt-3 text-dark"> Cześć {{ user.username }}! </h3>
                    <p> Zrób se posta</p>
                    {% else %}
                    <h3 class=" site-heading my-4 mt-3 text-dark"> Zaloguj się </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div class='container'>
{% if user.is_authenticated %}
  <form action='.' method='POST'>
  	{% csrf_token %}
  	<table>
  		<tr>
	  		<div class="fieldWrapper">
	  			<td><label for="{{ form.title.id_for_label }}">Tytuł:</label></td>
	  			<td>{{ form.title }}</td>
	  		</div>
	  	</tr>
	  	<tr>
	  		<div class="fieldWrapper">
	  			<td><label for="{{ form.slug.id_for_label }}">Id:</label></td>
	  			<td>{{ form.slug }}</td>
	  		</div>
	  	</tr>
	  	<tr>
	  		<div class="fieldWrapper">
	  			<td><label for="{{ form.author.id_for_label }}">Autor:</label></td>
	  			<td>{{ form.author }}</td>
	  		</div>
	  	</tr>
	  	<tr>
	  		<div class="fieldWrapper" id="summernote">
	  			<td><label for="{{ form.content.id_for_label }}">Treść:</label></td>
	  			<td>{{ form.content }}
	  			</td>
	  		</div>
		</tr>
		<tr>
			<div class="fieldWrapper">
				<td><label for="{{ form.status.id_for_label }}">Status:</label></td>
				<td>{{ form.status }}</td>
			</div>
		</tr>
		<tr>
			<div>
				<td></td>
				<td><button type="submit" class="btn btn-primary">Zapisz</button></td>
			</div>
		</tr>
	</table>
  </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj</a>
{% endif %}
</div>
{% endblock %}

