{% extends "base.html" %}

{% block content %}

<style>
.requirements {
	padding-top: 10px;
}

.fields {
	padding-top: 10px;
    padding-bottom: 10px;
}

</style>


<form method="post">
<div class='container-fluid padding'>
<div class="row padding">

	{% csrf_token %}
	{{ form.non_field_errors }}
    <div class="col-lg-6 fields">
        <table>
        <div class="fieldWrapper">
            <tr>
                <td>{{ form.username.errors }}<label for="{{ form.username.id_for_label }}">Login:</label></td>
                <td>{{ form.username }}</td>
            </tr>
        </div>
        <div class="fieldWrapper">
            <tr>
                <td>{{ form.password1.errors }}<label for="{{ form.password.id_for_label }}">Hasło:</label></td>
                <td>{{ form.password1 }}</td>
            </tr>
        </div>
        <div class="fieldWrapper">
            <tr>
                <td>{{ form.password2.errors }}<label for="{{ form.password.id_for_label }}">Potwierdź Hasło:</label></td>
                <td>{{ form.password2 }}</td>
            </tr>
        </div>
        <div class='button'>
            <tr>
        	   <td><button type="submit" class="btn btn-primary">Zarejestruj</button></td>
               <td></td>
            </tr>
    	</div>
        </table>
    </div>
    <div class="col-lg-6 requirements">
                <ul>
                <li class="nav-item text-black">Twoje hasło nie pwoinno zawierać żadnych osobistych informacji.</li>
                <li class="nav-item text-black">Hasło musi mieć co najmniej 8 znaków.</li>
                <li class="nav-item text-black">Hasło nie powinno stanowić popularnego ciągu znaków.</li>
                <li class="nav-item text-black">Nie powinno składać się jedynie z cyfr.</li>
               </ul>
    </div>
</div>
</div>
</form>
{% endblock %}