{% extends "base.html" %} 


{% block content %}
<style>
.container {
	padding-bottom: 10px;
	padding-top: 10px;
}



</style>


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                	{% if user.is_authenticated %}
                    <h3 class=" site-heading my-4 mt-3 text-dark"> Cześć {{ user.username }}! </h3>
                    {% else %}
                    <h3 class=" site-heading my-4 mt-3 text-dark"> Zaloguj się </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>


<div class='container'>
{% if user.is_authenticated %}
  <p> ༼ つ ◕_◕ ༽つ </p>
  <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>

{% else %}
	<form method="post">
		{% csrf_token %}
	    {{ form.non_field_errors }}
	    <table class="fields">
	    <div class="fieldWrapper">
	    	<tr>
	    		<td>{{ form.username.errors }}<label for="{{ form.username.id_for_label }}">Username:</label></td>
	        	<td>{{ form.username }}</td>
	        </tr>
	    </div>
	    <div class="fieldWrapper">
	    	<tr>
	    		<td>{{ form.password.errors }}<label for="{{ form.password.id_for_label }}">Password:</label></td>
	    		<td>{{ form.password }}</td>
	    	</tr>
	    </div>
	    <div class='button'>
	    	<tr>
	    		<td></td>
	    		<td>
	    			<button type="submit" class="btn btn-primary">Login</button>
	    			<a href="/accounts/signup/" class="btn btn-danger">Zarejestruj</a>
	    		</td>
			</tr>
		</div>
	</table>
	</form>
{% endif %}
</div>

{% endblock %}