{% extends "base.html" %} 


{% block content %}
<style>
.container {
	padding-bottom: 10px;
	padding-top: 10px;
}
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-dark"> Formularz kontaktowy </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class='container'>

<form method="post">
    {% csrf_token %}
		<table>
  		<tr>
	  		<div class="fieldWrapper">
	  			<td><label for="{{ form.from_email.id_for_label }}">Twój e-mail:</label></td>
	  			<td>{{ form.from_email }}</td>
	  		</div>
	  	</tr>
	  	<tr>
	  		<div class="fieldWrapper">
	  			<td><label for="{{ form.subject.id_for_label }}">Tytuł:</label></td>
	  			<td>{{ form.subject }}</td>
	  		</div>
	  	</tr>
	  	<tr>
	  		<div class="fieldWrapper">
	  			<td><label for="{{ form.message.id_for_label }}">Wiadomość:</label></td>
	  			<td>{{ form.message }}</td>
	  		</div>
	  	</tr>
	  	<tr>
			<div>
				<td></td>
				<td><button type="submit" class="btn btn-primary">Wyślij</button></td>
			</div>
		</tr>
	  </table>
</form>

</div>

{% endblock %}